Package: backup
Version: 2.1.0
Section: custom
Priority: optional
Architecture: all
Depends: python3, rsync
Installed-Size: 28
Maintainer: Disassembler
Description: Python script for performing cumulative, full or incremental rsync backups
